
  <div class="peachbg">
   <h1 align="center"><h1 align="center">Cultivating More Passion, Purpose, & Harmony.<br> In All That You Do.  </h1></h1>
    <h4 align="center"> select a card(s) below to reveal affirmations and details about corresponding Chakra Care box. <a href="#myModal" title="Dismissible popover" data-toggle="modal" data-trigger="focus" data-content="The word chakra is Sanskrit for wheel or disk and signifies one of seven basic energy centers in the body. Chakras are said to connect and correspond with the physical, mental, emotional and spiritual aspects of our being. Each chakra is associated with with specific colors, sounds, & flowers.">(so, what's a chakra?)</a></h4>
      <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> What is a chakra?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The word chakra is Sanskrit for wheel or disk and signifies one of seven basic energy centers in the body. Chakras are said to connect and correspond with the physical, mental, emotional and spiritual aspects of our being. Each chakra is associated with with specific colors, sounds, & flowers.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      
       </div>
       
    
<section>
  
   <div class="container" align=center>
     

    
     <div class="row" align="center">
     <div class="box">
              <div class="boxbackground">
               <h3>Crown Care</h3>
                <div class="flip-container" onclick="this.classList.toggle('hover');">
                    <div class="crownbg">
                        <div class="flipper">
                            <div class="front" align="center">
                            <h1></h1>
                            </div>
                            <div class="back">
                                <div class="crownback">
                                    <h4 align="center">Affirmations</h4>
                                    <h3>
                                    <ol align="left">
                           <li>I accept my truth</li>
                           <li>I trust my life's purpose</li>
                           <li>I understand</li>
                           <li>I am divinely aligned</li>
                           <li>I have faith</li>
                                        </ol>
                            </h3>
                                      <section ng-controller="crownCtrlr">

                                   <a href="/crown"> ABOUT THIS BOX </a>

                                    </section>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                  </div>
                 
                  </div>
      
<!--            <div class="row">-->
              <div class="box">
              <div class="boxbackground">
               <h3>ThirdEye Care</h3>  
                <div class="flip-container" onclick="this.classList.toggle('hover');">
                    <div class="thirdeyebg">
                        <div class="flipper">
                            <div class="front" align="center">
                            <h2></h2>
                            </div>
                            <div class="back">
                                <div class="thirdeyeback">
                                    <h4>Affirmations</h4>
                                    <h3>
                                    <ol align="left">
                        <li>I trust my intuition</li>
                        <li>I am inspired</li>
                                        <li>I am connected to my highest path</li>
                                        <li>I am guided by inner wisdom</li>
                             
                            </ol>
                                  </h3>
                                   
                                    <a href="/thirdeye">ABOUT THIS BOX</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  </div>
                  </div>
<!--                    </div>-->
                    
<!--                 <div class="row">-->
              <div class="box">
              <div class="boxbackground">
               <h3>Throat Care</h3>
                <div class="flip-container" onclick="this.classList.toggle('hover');">
                    <div class="throatbg">
                        <div class="flipper">
                            <div class="front" align="center">
                            <h3></h3>
                            </div>
                            <div class="back">
                                <div class="throatback">

                                    <h4>Affirmations</h4>
                                    <h3 align="left">
                                    <ol>
                           <li>I express myself with ease</li>
                           <li>I speak authentically</li>
                           <li>I listen to hear others</li>
                           <li>My voice is heard, it has meaning and value</li>
                                        </ol>
                                   </h3>
                                

                                    <a href="/throat"> ABOUT THIS BOX</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  </div>
                     </div>
                  </div>
                    
                     
                 <div class="row" align="center">
              <div class="box">
              <div class="boxbackground">
               <h3>Heart Care</h3> 
                <div class="flip-container" onclick="this.classList.toggle('hover');">
                    <div class="heartbg">
                        <div class="flipper">
                            <div class="front" align="center">                   
                            </div>
                            <div class="back">
                                <div class="heartback">
                                    <h4 align="center">Affirmations</h4>
                                    <ol>
                                    <h3 align="left"><li>I am open to recieve love</li>
                        <li>I am loved</li>
                        <li>I am love</li>
                        <li>I love and accept myself</li>
                        <li>I forgive myself and others</li>
                        </h3>
                                   </ol>
                                    <a href="/heart"> ABOUT THIS BOX </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  </div>
                  </div>
<!--                <div class="row">-->
              <div class="box">
              <div class="boxbackground">
               <h3>Solar Plexus Care</h3>
                <div class="flip-container" onclick="this.classList.toggle('hover');">
                    <div class="solarplexbg">
                        <div class="flipper">
                            <div class="front" align="center">
                                <h2></h2>
                            </div>
                            <div class="back">
                                <div class="solarback">
                                    <h4>Affirmations</h4>
                                    <ol>
                                    <h3 align="left">   
                           <li>I am more than enough</li>
                           <li>I am confident</li>
                           <li>I respect myself</li> 
                           <li>I am walking in my truth</li>
                                       </h3>
                                    </ol>   <a href="/solarplexus"> ABOUT THIS BOX</a>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                    </div>
                
<!--                  <div class="row">-->
              <div class="box">
              <div class="boxbackground">
               <h3>Sacral Care</h3>
                <div class="flip-container" onclick="this.classList.toggle('hover');">
                    <div class="sacralbg">
                        <div class="flipper">
                            <div class="front" align="center">
                                <h1></h1>
                            </div>
                            <div class="back">
                                <div class="sacralback">
                                <div ng-controller="chakra">
                                    <h4 align="CENTER">Affirmations</h4>
                                    <ol>
                                    <h3 align="left">
                           <li>I am creative</li>
                          <li>I have joy</li>
                           <li>I recieve pleasure</li> 
                          <li>I am abundant</li> 
                           <li> I flow with ease and grace</li>
                                        </h3></ol>
                                    <a href="/sacral"> ABOUT THIS BOX</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                  </div>
                  </div>
<!--                <div class="row" align="center">-->
              <div class="box">
              <div class="boxbackground">
               <h3>Root Care</h3>
                   <div class="flip-container" onclick="this.classList.toggle('hover');">
                    <div class="rootbg">
                        <div class="flipper">
                            <div class="front" align="center">
                                <h2></h2>
                            </div>
                            <div class="back">
                                <div class="rootback">
                                <div ng-controller="chakra">
                                    <h4 align="center">Affirmations</h4>
                                    <h3 align="left">
                                    <ol>
                          <li>I am protected</li>
                           <li>I am safe & secure</li>
                           <li>I am grounded</li>
                           <li>I have all that I need</li>
                           <li>I have a right to be here</li>
                                        </ol>
                                    </h3>
                                    	<a href="/root"> ABOUT THIS BOX</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                  </div>
</div>
                </div>
    </div></section>
    
                 
            
                
                    





                  

