
 <div class="container">
     
   <div class="row">
   <br>
   

  <a href="/">Back to affirmation cards</a>

   <div class="col-4">
   
   <h2 align="center">coming soon!</h2>
   
   
<!--
   <h2>I feel creative</h2>
   
   <div class="custom-controls-stacked">
  <label class="custom-control custom-radio">
    <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Yes</span>
  </label>
  <label class="custom-control custom-radio">
    <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">No</span>
  </label>
</div>
  
  
   
   <h2>I feel sexy</h2>
   
   <div class="custom-controls-stacked">
  <label class="custom-control custom-radio">
    <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Yes</span>
  </label>
  <label class="custom-control custom-radio">
    <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">No</span>
  </label>
</div>
    
-->
<!--
          If you answer 
          
        yes or no    - no recommend sacral care + 1 point 
        yes or no   I feel sexy - if no recommend sacral care +1 point
        yes or no   I am happy - if yes go to next
        yes or no   I give love to others
           I recieve love from others
           I trust my insticts
           I speak my truth
           I am walking in my truth
           I respect myself
           I am inspired
           I listen to others
           I have a right to be here
           My voice is heard 
           I understand my purpose
           I have faith
           I am guiltfree
           I am able to flow with ease and grace
           I am able to forgive myself
           I am able to forgive others
           I am secure
           I am confident
           I feel I belong
           I trust I am on the right path
           I have strong faith
           I am intuitive
           I am wise
           I express myself with ease
           I feel abundant
           I am protected
           I am grounded
           
-->
            
        </div>
    </div>
 </div>
</div>