<div class="peachbg">
   		<h2 align="center">Sign-Up for Early Access</h2>

       </div>
<div class="row">
	<div class="col-md-4 col-md-offset-4 well" ng-controller="SignUpCtrlr">
        <form name="userForm" ng-submit="signup()" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }">
				<label for="email">First Name</label>
				<input type="text" id="firstname" class="form-control" ng-model="firstName" name="firstname" required>
				<p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine" class="help-block">Your firstname is required.</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine }">
				<label for="lastname">Last Name</label>
				<input type="text" id="lastname" class="form-control" ng-model="lastName" name="lastname" required>
				<p ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine" class="help-block">Your firstname is required.</p>
			</div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
				<label for="email">Email</label>
				<input type="email" id="email" class="form-control" ng-model="email" name="email" required>
				            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
			</div>
             <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
				<label for="state">State</label>
				<input type="text" id="state" class="form-control" ng-model="state" name="state" required>
				<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid State.</p>
			</div>
			 <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">  
				<label for="address">Address</label>
				<input type="text" id="address" class="form-control" ng-model="address" name="address" required>
				<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter address</p>	
			</div>
			<div class="form-group">
				<label for="passwordRepeat">Password</label>
				<input type="password" id="passwordRepeat" class="form-control" ng-model="password" name="password">
			</div>
            <div class="form-group">
				<label for="passwordRepeat">Repeat Password</label>
				<input type="password" id="passwordRepeat" class="form-control" ng-model="passwordRepeat" name="confirm-password">
				<span class="text-danger" ng-show="password !== passwordRepeat">{{passwordMessage}}</span>
			</div>
			<button class="center-block btn btn-primary btn-lg" type="submit" ng-disabled="userForm.$invalid">Signup</button>
		</form>
	</div>
</div>
              