<div class=peachbg ng-controller="ShopCtrlr">
    <div class=about>
<a href="/">Back to affirmation cards</a></div>

        <h2 align="center"></h2>
        
        <div class="container">
            <div class="row">
                <div ng-repeat="box in boxes">
                    
                    <div class="clearfix" ng-if="$index % 3 == 0"></div>
                   <div class="col-xs-4">
                        <div class="thumbnail">
                            <h3 align="center">{{box.product_type}}</h3>
                            <img ng-src="{{box.image_url}}" alt="...">
                            <div class="caption" align="center"><h4>
                                {{box.description}}</h4>
                                <br>
                                <br>
                                <span ng-show="{{box.options}}">
                        <p align="left">Select</p>
                        <div class="form-group">
                            <select class="form-control"  id="exampleSelect1" ng-model="selPackage">
                                <option value="{{package}}" ng-repeat="package in box.packages">{{package}}</option>
                            </select>
                             </div>
                             </span>
                                <a class="btn btn-block" ng-click="check(box, selPackage)" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Pre-Order {{box.price}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







<!--
          <div class="container" ng-repeat="box in boxes">
           
                <div class="thumbnail">
                    <img ng-src="{{box.image_url}}" alt="...">
                    <div class="caption">
                        <h3>{{box.product_type}}</h3>
                        <span ng-show="{{box.options}}">
                        <p>Select A Box</p>
                        <div class="form-group">
                            <select class="form-control"  id="exampleSelect1">
                                <option value="{{package}}" ng-repeat="package in box.packages">{{package}}</option>
                            </select>
                        </div>
                        </span>
                        <a href="#" class="btn btn-block" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Pre-Order </a>
                    </div>
                  </div>
        </div>
-->
<!--    </div>-->
<!--</div>-->